# Ignore SCons caches.
*.dblite

# Ignore emacs temp files.
*~

# Eclipse metadata.
.project
.cproject
.settings/*

# Ignore object files, executibles, and libraries.
*.o
*.exe
*.a
*.dll
*.lib

# Ignore ObjectLite databases and log files.
*.obl
*.log

# Documentation.
doc/**
